.container {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .signup-btn {
        font-size: 1.1em;
    }
}

.progress-bar-container {
    margin-top: 18px;
}
