# Ignore all .env files
**/.env

# Ignore specific Firebase JSON config files
config/*.json

# Ignore all .vs folders
**/.vs

# Ignore all /bin and /obj folders no matter where they are
**/bin/
**/obj/

# Ignore specific project user files
**/*.csproj.user

azurite/**
