<div class="title">
    Bots Store
</div>

<div class="container">
    <ul>
        @for (bot of bots; track bot.id) {
        <li class="bot-item">
            <div>
                <div class="bot-image">
                    <div>
                        <img src="dog_robot_icon_48.png" alt="bot">
                    </div>
                </div>
                <div class="bot-content">
                    <div class="bot-item-details">
                        <strong>{{bot.name}}</strong>
                        <p>{{bot.price}}</p>
                    </div>
                    <div class="bot-item-actions">
                        <button (click)="buy(bot.id)" [disabled]="!canGetBotsForFree">Get</button>
                        @if (!canGetBotsForFree) {
                        <button (click)="upgrade()">Upgrade</button>
                        }
                    </div>
                </div>
            </div>
        </li>
        }
    </ul>

    @if (!bots.length) {
    <div>There are no bots available to purchase.</div>
    }
</div>