<div class="title">
    My Bots
</div>

<div class="container">
    <ul>
        @for (bot of bots; track bot.id) {
        <li class="bot-item">
            <div>
                <div class="bot-image">
                    <div>
                        <img src="dog_robot_icon_48.png" alt="bot">
                    </div>
                </div>
                <div class="bot-content">
                    <div class="bot-item-details">
                        <strong>{{bot.name}}</strong>
                        <p>Health {{bot.health}}</p>
                        <p>Attack {{bot.attack}}</p>
                        <p>Defense {{bot.defense}}</p>
                    </div>
                    <div class="bot-item-actions">
                        <button (click)="details(bot.id)">Details</button>
                    </div>
                </div>
            </div>
        </li>
        }
    </ul>

    @if (!bots.length) {
    <div>You do not currently own any bots.</div>
    }
</div>