<app-card [title]="bot!.name">
    Bot price: <span>{{bot!.price}}</span>
</app-card>

<app-card title="Behaviours">
    <div title-content>
        <button (click)="addBehaviour()">Add</button>
        <button (click)="saveBehaviours()">Save</button>
    </div>

    @for (botBehaviour of botBehaviours; track botBehaviour.id) {
        <div class="content">
            <app-behaviour-code 
                [name]="botBehaviour.name" 
                [code]="botBehaviour.code" 
                [isReadOnly]="!botBehaviour.editing"
                (codeChange)="codeModified(botBehaviour, $event)"
                (modified)="markAsModified(botBehaviour, $event)">
            </app-behaviour-code>

            @if (botBehaviour.id) {
                <button (click)="validateBehaviour(botBehaviour)">Validate</button>
                <button (click)="editBehaviour(botBehaviour)">Edit</button>
            }
            <button (click)="confirmDeleteBehaviour(botBehaviour)">Delete</button>
        </div>
    }
</app-card>