<app-card [title]="bot!.name">
    Bot price: <span>{{bot!.price}}</span>
</app-card>

<app-card title="Behaviours">
    <div title-content>
        <button (click)="addBehaviour()">Add</button>
        <button (click)="saveAllBehaviours()">Save All</button>
    </div>

    <div class="layout">
        <div class="behaviours-list">
            @for (botBehaviour of botBehaviours; track botBehaviour.id) {
                <div class="behaviours-list-item" [ngClass]="{'selected': botBehaviour.id === selectedBehaviour?.id}" (click)="selectBehaviour(botBehaviour)">
                    {{botBehaviour.name}}
                </div>
            }
        </div>
        <div class="behaviour-code-editor">
            @if (selectedBehaviour) {
                <app-behaviour-code 
                    [name]="selectedBehaviour.name" 
                    [code]="selectedBehaviour.code" 
                    [isReadOnly]="!selectedBehaviour.editing"
                    (codeChange)="codeModified(selectedBehaviour, $event)"
                    (modified)="markAsModified(selectedBehaviour, $event)"
                    (edit)="editBehaviour(selectedBehaviour)"
                    (validate)="validateBehaviour(selectedBehaviour)"
                    (delete)="confirmDeleteBehaviour(selectedBehaviour)">
                </app-behaviour-code>
            }
        </div>
    </div>
</app-card>