.container {
    display: flex; 
    align-items: center;

    .account-type {
        padding-right: 12px; 
        color: white; 
        font-size: 16px;
    }

    .profile-menu-container {
        button {
            color: white;
        }
    }
}