.title {
    text-align: center;
    font-size: 20px;
}

.container {
    ul {
        list-style-type: none;
        padding: 0;
    }

    .bot-item {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;

        .bot-item-details {
            margin-bottom: 20px;
            height: 40px;
        }

        &:hover {
            background: aliceblue;
        }
    }
}
