.botItem {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.botDetails {
    margin-bottom: 20px;
}

.botActions {
    margin-top: 10px;
}

.botActions button {
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
}
