.map-list-container {
    padding: 20px 0;
}

.add-map-button {
    margin-bottom: 10px;
}

.map-list-item {
    cursor: pointer;
    margin-bottom: 8px;
    background: lightgray;
    padding: 6px 8px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: lightblue;
    }

    &.selected {
        background-color: #5aaedb;
    }
}