<div>
    <h2>My events</h2>
</div>

<div class="container" style="margin-bottom: 20px;">
    @for (event of myEvents; track event.id) {
        <mat-card class="content" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{event.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{event.description}}</p>
            </mat-card-content>
            <mat-card-footer class="footer" style="margin: auto;">
                <button mat-raised-button (click)="unsubscribe(event.id)">Unsubscribe</button>
            </mat-card-footer>
        </mat-card>  
    } 
    @empty {
        You are not subscribed to any event yet
    }
</div>