<div>
    <h2>My events</h2>
</div>

<div class="container" style="margin-bottom: 20px;">
    @for (event of myEvents; track event.id) {
        <app-event-item [event]="event">
            @if (event.status === 'NotStarted') {
                <button mat-raised-button (click)="unsubscribe(event.id)">Unsubscribe</button>
            } @else if (event.status === 'Started') {
                <button mat-raised-button (click)="gotoLiveFeed(event)">Live Feed</button>
            } @else if (event.status === 'Completed') {
                <span>Completed</span>
            }
        </app-event-item>
    } 
    @empty {
        You are not subscribed to any event yet
    }
</div>