.container {
  width: 400px;
  margin: 0 auto;
  padding-top: 40px;

  form {
    display: flex;
    flex-direction: column;
  }

  .login-btn {
    font-size: 1.1em;
  }
}

.signup-link {
  text-decoration: none;
  color: #007bff; /* Blue color for the link */
  font-size: 1.1em;
}

.signup-link:hover {
  text-decoration: underline;
}
