.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
    height: 100%;

    .title-bar {
        padding: 8px;
        font-size: 18px;
        background-color: lightgreen;
        display: flex;
        justify-content: space-between;

        .title-bar-actions {
            display: flex; 
            gap: 4px;
            align-items: center;
        }
    }

    .content {
        padding-left: 12px;
        padding-right: 12px;

        textarea {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: calc(100vh - 50vh);
        }
    }

    .bottom-panel {
        padding-top: 8px;
        border-top: solid 4px #d0ebf7;
        font-size: 14px;

        .bottom-panel-actions {
            display: flex; 
            justify-content: space-between
        }
    }
}
