<div class="container">
    <form [formGroup]="form" (ngSubmit)="signup()">
        <app-account-type-selection [(accountType)]="accountType"></app-account-type-selection>
        <app-email-input [email]="email!"></app-email-input>
        <app-password-input [password]="password!"></app-password-input>

        <button mat-fab extended type="submit" class="signup-btn" [disabled]="form.invalid || signingUp">
            Sign Up
        </button>
    </form>

    <div class="progress-bar-container">
        <app-progress-bar [loading]="signingUp"></app-progress-bar>
    </div>

    @if (error) { <app-error-message>{{error}}</app-error-message> }
</div>